/* My own css*/
.text1{
    color:white;
}
.circle{
    height: 300px;
    width:300px;
    border-color:#ff0000;
    border-radius: 100%;
    background-color:white;
    border-bottom-width: 10px;
    opacity: 0.7;
    display: inline-block;
    margin:10px;
    float:left;
}
.circleText{
    padding:10px 30px 30px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
.circleH{
    text-align: center;
    padding:30px 30px 10px 30px;
    font-weight:bold;
}

.left-panel{
    margin: 20px 10px 20px 20px;
    background-color:white;
    opacity: 0.7;
    border-radius: 10px;
    border: 0px solid transparent;
    
}

.panel-default.post-panel{
    padding: 10px;
    margin: 20px 20px 20px 10px;
    background-color:white;
    opacity: 0.7;
    border-radius: 10px;

}

.panel-heading.navyblue{
    border-color: #337ab7;
    background-color:#000066;  
    opacity:0.8;

}
.panel-heading.red{
    border-color: #fd8c9e;
    background-color:#ef0303; 
    opacity:0.8;
}
.panel-heading.green{
    border-color: green;
    background-color:green; 
    opacity:0.8;
}  
.my-panel-heading{
    border:1px solid #000066;
    padding: 5px;
    background-color:#000066;
    padding:10px;
    border-radius: 10px 10px 0 0;
    opacity: inherit;
}
.post-heading{
    font-weight:bold;
    font-family:cursive;
    color:black;
    text-align:center;
}
.label-lg{
      height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;

}