/* My own css*/
.post-heading{
    font-weight:bold;
    color:black;
    text-align:center;
}

.register{
    text-align: center;
    color: black;
    font-size: 22px;
    text-decoration: underline;
}
.MyPostPanel{
    border-bottom: 2px solid #2c3e50;
    margin: 40px;
    margin-top:0px;
}
.MyCommentPanel{
    border-bottom: 1px solid #2c3e50;
    margin-bottom:20px;
    font-size:20px;
}
.MyCommentHeading{
    border-bottom: 2px solid #2c3e50;
    margin-bottom:20px;
}
/*.circle{
    height: 300px;
    width:300px;
    border-color:#ff0000;
    border-radius: 100%;
    background-color:white;
    border-bottom-width: 10px;
    opacity: 0.8;
    display: inline-block;
    margin:10px;
    float:left;
    padding:10px;
}
.circleText{
    padding:10px 30px 30px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
.circleH{
    text-align: center;
    padding:30px 30px 10px 30px;
    font-weight:bold;
}

.circleHdiv{
    height: 100px;
}
.label-lg{
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
}
.navbar {
    margin-bottom: 0;
}
.container-fluid.backgroundimg{
    background-image:url('../img/background3.jpg'); 
    background-size: 100% 100%; 
    min-height:1000px;
}

.text-navy{
    color: #0505a2;
}
*/
.jumbotron.search-display{
    margin-top: 40px; 
    padding: 40px;
    margin-bottom: 0px;
}
.text1{
    color:white;
    text-decoration: none;
}

.left-panel{
    margin: 20px 10px 20px 20px;
    background-color:white;
    opacity: 0.8;
    border-radius: 10px;
    border: 0px solid transparent;
    margin-right: 0;
}

.panel-default.post-panel{
    padding: 20px 30px 20px 30px;
    margin: 20px 20px 20px 10px;
    background-color:white;
    border-radius: 10px;
    opacity:0.8;
}

.panel-heading.navyblue{
    border-color: #337ab7;
    background-color:#10108b;  
    opacity:0.9;

}
.panel-heading.red{
    border-color: #fd8c9e;
    background-color:#ef0303; 
    opacity:0.9;
}
.panel-heading.green{
    border-color: green;
    background-color:green; 
    opacity:0.9;
}  
.my-panel-heading{
    border:1px solid #000066;
    padding: 5px;
    background-color:#000066;
    padding:10px;
    border-radius: 10px 10px 0 0;
}