/* My own css*/
.post-heading{
    font-weight:bold;
    color:black;
    text-align:center;
}

.register{
    text-align: center;
    color: black;
    font-size: 22px;
    text-decoration: underline;
}

.MyPostPanel{
    border-bottom: 2px solid #2c3e50;
    margin: 40px;
    margin-top:0px;
}

.MyCommentPanel{
    border-bottom: 1px solid #2c3e50;
    margin-bottom:20px;
    font-size:20px;
}

.comment-date{
    margin:0px 0px 0px 40px;
}

.MyCommentHeading{
    border-bottom: 2px solid #2c3e50;
    margin-bottom:20px;
}

.panel-body.my-panel-body{
    border-color: #337ab7; 
    height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-panel-body{
    padding:0px; 
    border: 1px solid #2c3e50;
}

.li-grp{
    margin:0;
}

.BlogName{
    color:#FFFFFF; 
    font-family:Papyrus;
}

.color-success{
    background-color:#18bc9c;
}

.MyWell{
    margin: 10px;
}

.a-none{
    text-decoration:none;
}

.logout-btn{
    margin-right: 20px;
}

.abstract-input{
    margin: 20px 0 30px 0;
}

.glyphicon-margin{
    margin-right: 10px;
}

.profile-img{
    max-width: 200px;
    max-height=200px;
}


.search-display.jumbotron{
    margin: 60px 0 0 0; 
    padding: 40px;
    margin-bottom: 0px;
}

.text1{
    color:white;
    text-decoration: none;
}

.left-panel{
    margin: 20px 10px 20px 20px;
    background-color:white;
    opacity: 0.8;
    border-radius: 10px;
    border: 0px solid transparent;
    margin-right: 0;
}

.panel-default.post-panel{
    padding: 20px 30px 20px 30px;
    margin: 20px 20px 20px 10px;
    background-color:white;
    border-radius: 10px;
    opacity:0.8;
}

.my-panel-heading{
    height: 110px;
}